<!DOCTYPE html>
<html>
<head>
  <title>Rails agent annotator</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= yield :head %>

  <%= stylesheet_link_tag    "rails_agent_annotator/application", media: "all" %>
  <%= javascript_include_tag "rails_agent_annotator/application", defer: true %>
</head>
<body>

<%= yield %>

</body>
</html>
